{% extends "base.html" %}
{% load static %}
{% block title %}Hi!{% endblock title %}
{% block header %}
    <title>Elvira</title>
{% endblock header %}
{% block content%}
<div>
    <div class="tiora">
        <div>
            <h1>Привет!</h1>
            <p>Меня зовут Эльвира, мне 34 года и у меня есть толстый кот.</p>
            <!-- <div>some else</div> -->
        </div>
        <div class="emptydiv100"></div>
        <div>
            <img src="{% static "images/my_photo.png" %}" alt=""Это я" class="myphoto">
        </div>
    </div>
    {% include "awesome.html"  %}
</div>

{% endblock content %}

