{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <meta charset="utf-8" />
    <title>{% block title %}Default title{% endblock title %}</title>
</head>
<body>    
    <ul class="menu-main">
        <li><a href="/about">Hello, World!</a></li>
        <li><a href="/skill">Что я умею</a></li>
        <li><a href="/lessons">Результаты заданий</a></li>  
        <li><a href="/strange_things">Очень странные дела</a></li>  
    </ul>
    <h1>{% block header %}{% endblock header %}</h1>
    <div class="tapira">{% block content%}{% endblock content %}</div>
    <div class="tapira2">{% block content_left%}{% endblock content_left %}</div>
</body>
</html>

