{% extends "base.html" %}
{% load static %}
{% block title %}Результаты заданий{% endblock title %}
{% block header %}
    <title>Результаты заданий</title>
{% endblock header %}
{% block content%}   
<ol class="rectangle">
    <li><a href="/page01_text">Обработка запроса с обычным текстом</a></li>
    <li><a href="/page02_html">Обработка запроса с html кодом</a></li>
    <li><a href="/page03_re_path">Функция re_path</a></li>
    <li><a href="/page04_kwargs">Параметр kwargs функции path</a></li>
    <li><a href="/page05_SecretCode">Передача headers</a></li>  
    <li><a href="/page06_StatusResponse400">Установить ошибку 400</a></li>  
    <li><a href="/page07_name/Имя">Задать один параметр маршрута</a></li>
    <li><a href="/page08_count_animals/3/овца">Задать несколько параметров маршрута</a></li>
    <li><a href="/page09_query_string_parameters/?param1=Tom&param2=22">Параметры строки запроса</a></li>
    <li><a href="/page10_user_exist/2">Проверить параметр. Установка ошибки 404</a></li>
    <li><a href="/page11_access/21">Проверка возраста. Установка ошибок 400 и 403</a></li>
    <li><a href="/page12_json">Отправка json, сериализация объектов</a></li>
    <li><a href="/page13_set_cookie?username=Boris">Отправка куки</a></li>
    <li><a href="/page14_get_cookie">Получение куки</a></li>    
    <li><a href="/page15_user_form">Отправка форм</a></li>   
    <li><a href="/page16_user_form_django">Отправка форм Django</a></li>   
    <li><a href="/page17_select">Выполнить простой запрос</a></li>   
    <li><a href="/page18_create_record">Добавление записей</a></li>   
    <li><a href="/page19_get_records">Получение из бд Django</a></li>   
    <li><a href="/page20_py_types">py Переменные и типы данных</a></li>   
    <li><a href="/page21_py_arithmetic_operations">py Арифметические операции с числами</a></li>   
    <li><a href="/page22_py_in">py Оператор in для строк</a></li>  
    <li><a href="/page23_py_function_parameters">py Параметры функции</a></li>  
    <li><a href="/page24_py_lambda">py Лямбда</a></li>  
    <li><a href="/page25_py_global_nonlocal">py Global&nonocal</a></li>  
    <li><a href="/page26_py_string">py Упражнения со строками (из книги)</a></li>  
    <li><a href="/page27_py_list_tuple">py Упражнения с листами и кортежами (из книги)</a></li>  
    <li><a href="/page28_py_dict_set">py Упражнения о словарями и множествами (из книги)</a></li>  
    <li><a href="/page29_py_functions">py Упражнения с функциями (из книги)</a></li>  
</ol>
{% endblock content %}
